/* 
    Created on : 28/08/2018, 17:23:51
    Author     : Arnaldo Junior
*/
/* Adiciona uma camada sobre o body quando uma caixa de seleção é aberta. */
.select-open::after {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0,0,0,0.7)
}

.not-empty { 
    width: 128px;
    height: 128px;
    display: inline-block;
    word-spacing: 0;
    box-sizing: border-box;
    border: none; 
}

.menu-box, .player-box, .map-select-box {
    display: inline-block;
    width: 262px;
    vertical-align: top;
}
.player-box, .map-select-box { 
    border: 2px solid #0a6082; 
    margin-top: 0; 
    background: whitesmoke;
}
.map-select-box { display: none; margin-top: 40px; }
.map-select { padding: 10px 0; }
.map-icon {
    width: 55px;
    height: 55px;
    background-color: lightcoral;
    border-radius: 5px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}
.map-icon:last-of-type { margin-right: 0; }
.map-icon:hover { background: lightseagreen; }
.map-icon p {
    color: whitesmoke;
    font: 600 20px Arial;
    vertical-align: middle;
    line-height: 55px;
}

.player-status { text-align: left; padding: 10px; }

.player-status figure {
    margin-bottom: 5px;
    width: 105px;
    height: 100px;
    background-color: #ffeecc;
    border: 1px solid #0a6082;
    position: relative;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
}

.player-status img {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
}

.player-status > label {
    color: #2F4F4F;
    font: bold 17px Arial; 
    display: block;
    position: relative;
}

.player-status input {
    position: absolute;
    right: 0;
    font: 500 0.9em Arial;
    color: #808080;
    border: none;
    padding: 2px;
    background: whitesmoke;
    width: 173px;
}

.player-box button {
    display: block;
    margin: 10px 5px;
    padding: 5px 10px;
    background: lightskyblue;
    color: darkblue;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.player-box button:hover { color: white; }
.one, .two { display: none; }

/* Elemento Jogável*/
.player {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 270px;
    display: none;
}
.player-one { left: 16px; }
.player-two { right: 16px; }

.fireball, .explosion {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 15px;
}

/* Caixa de seleção da personagem */
.player-select-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #0a6082;
    display: none;
    z-index: 2;
}

/* Imagem da personagem na caixa de seleção */
.player-face {
    width: 100px;
    height: 98px;
    display: inline-block;
    border: 2px solid lightgoldenrodyellow;
    box-sizing: border-box;
}

.player-face:hover { 
    cursor: pointer;
    background-color: lightskyblue !important;
    border: 2px solid lightskyblue; 
}

.player-face:first-of-type {
    background: lightgoldenrodyellow url(../img/personagens/black_dragon.png) 0 0;
    background-size: 384px !important;
}
.player-face:nth-of-type(2) {
    background: url(../img/personagens/blue_wings_black_dragon.png) 0 0 lightgoldenrodyellow;
    background-size: 384px !important;
}
.player-face:last-of-type {
    background: url(../img/personagens/blue_green_dragon.png) -96px 0 lightgoldenrodyellow;
    background-size: 288px !important;
}

.winner-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: lightseagreen;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 10px 0;
    display: none;
    z-index: 3;
}

.winner-banner h3 {
    font: 900 40px Champagne;
    color: white;
    margin-bottom: 10px;
}

.winner-player {
    height: 96px;
    width: 96px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}